<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Platos</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
        <link rel="stylesheet" href="../static/css/platos.css">
    </head>
    
    <body>
        <header>
            <div class="movil">
                <nav>
                    <button id="bmenu"><span class="material-symbols-outlined">menu</span></button>
                    <div class="logo-portatil"><a href="/">EATTHIS!!</a></div>
                    <div class="link-movil">
                        <a href="#" class="link"><span class="material-symbols-outlined">forum</span></a>
                        <a href="/carrito" class="link"><span class="material-symbols-outlined">shopping_cart</span></a>
                        <a href="/login" class="link"><span class="material-symbols-outlined">account_circle</span></a>
                    </div>
                </nav>
                <div class="links">
                    <a href="/platos">Menu</a>
                    <a href="/platos">Platos</a>
                    <a href="/platos">Snacks</a>
                </div>
            </div>
    
            <div class="portatil">
                <nav>
                    <div class="arriba">
                        <div class="logo-portatil"><a href="/">EATTHIS!!</a></div>
                    </div>
                    <div class="abajo">
                        <div></div>
                        <ul>
                            <li><a href="/platos" class="link">Menu</a></li>
                            <li><a href="/platos" class="link">Platos</a></li>
                            <li><a href="/platos" class="link">Snacks</a></li>
                        </ul>
                        <div class="iconos-portatil">
                            <a href="#" class="link"><span class="material-symbols-outlined">forum</span></a>
                            <a href="/carrito" class="link"><span class="material-symbols-outlined">shopping_cart</span></a>
                            <a href="/login" class="link" id="userIcon">
                                <span class="material-symbols-outlined">account_circle</span>
                            </a>
                        </div>
                    </div>
                </nav>
            </div>
        </header>
    
        <main>

            <!--div class="banner" id="authReminder">
                <p>Por favor, inicia sesión para completar tu compra.</p>
                <button id="loginButton">Iniciar sesión</button>
            </div-->

            <section id="seccion1">
                <h2 class="tipoPlatos">Platos</h2>
                <div class="platos">
                    {% for producto in productos %}
                        <div class="plato">
                            <a href="#" style="text-decoration: none; color:black;">
                                <img src="{{ url_for('static', filename='img/' ~ producto.imagen_url) }}" alt="{{ producto.nombre }}">
                                <div class="descripcion">
                                    <h4 class="nombre">{{producto.nombre}}</h4>
                                    <div class="precio"><h4>{{producto.precio}} €</h4></div>
                                    <div class="tipo">
                                        <p>Tipo de produto: {{producto.tipo}}</p>  <!-- Mostrar la descripción completa del producto -->
                                    </div>
                                    <div class="botonCarro">
                                        <button class="boton1">Añadir al carro</button>
                                    </div>
                                </div>
                            </a>
                        </div>
                    {% else %}
                        <p>No hay productos disponibles.</p>
                    {% endfor %}
                </div>
            </section>
        </main>

        <footer>
            <div class="footerdiv">
                <div class="grupo">
                    <h4>Descarga la app</h4>
                    <ul>
                        <li><a href="#"><span class="material-symbols-outlined">ios</span>App Store</a></li>
                        <li><a href="#"><span class="material-symbols-outlined">android</span>Play Store</a></li>
                    </ul>
                </div>
                <div class="grupo">
                    <h4>Opiniones y reseña</h4>
                    <ul>
                        <li><a href="#"><span class="material-symbols-outlined">mark_as_unread</span>Enviar opinion</a></li>
                    </ul>
                </div>
                <div class="grupo">
                    <h4>Siguenos</h4>
                    <ul>
                        <li><a href="#"><span class="material-symbols-outlined">raven</span>Twitter</a></li>
                        <li><a href="#"><span class="material-symbols-outlined">nest_heat_link_gen_3</span>Instagram</a></li>
                        <li><a href="#"><span class="material-symbols-outlined">youtube_activity</span>YouTube</a></li>
                    </ul>
                </div>
            </div>
        </footer>
        <script src="../main.js" type="module"></script>
    </body>
</html>
