<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="pagina.css">
</head>
<body>

    <header>
        <div class="movil">

            <nav>
                <button id="bmenu"><span class="material-symbols-outlined">menu</span></button>
                <div class="logo-movil"><a href="#">EATTHIS!!</a></div>
                <div class="link-movil">
                    <a href="#"><span class="material-symbols-outlined">forum</span></a>
                    <a href="#"><span class="material-symbols-outlined">shopping_cart</span></a>
                    <a href="#"><span class="material-symbols-outlined">account_circle</span></a>
                </div>
            </nav>

        </div>
        <div class="portatil">
            <nav>
                <div class="arriba">
                    <div class="logo-portatil"><a href="#">EATTHIS!!</a></div>
                </div>
                <div class="abajo">
                    <div></div>
                    <ul>
                        <li><a href="#" class="link">Menu</a></li>
                        <li><a href="#" class="link">Snacks</a></li>
                        <li><a href="#" class="link">Platos</a></li>
                        <li><a href="#" class="link">Rutinas</a></li>
                    </ul>
                    <div class="iconos-portatil">
                        <a href="#" class="link"><span class="material-symbols-outlined">forum</span></a>
                        <a href="#" class="link"><span class="material-symbols-outlined">shopping_cart</span></a>
                        <a href="#" class="link"><span class="material-symbols-outlined">account_circle</span></a>
                    </div>
                </div>
            </nav>
        </div>
    </header>

    <section id="seccion1">
        <div class="izquierda"></div>
        <div class="derecha">
            <h2>Comer sano al mejor precio</h2>
            <ul>
                <li><span class="material-symbols-outlined">done_all</span>Menus personalizados</li>
                <li><span class="material-symbols-outlined">done_all</span>Snacks saludables</li>
                <li><span class="material-symbols-outlined">done_all</span>Platos sabrosos</li>
                <li><span class="material-symbols-outlined">done_all</span>Rutinas específicas</li>
            </ul>
            <a href="#">Haz tu pedido</a>
        </div>
    </section>

    <section id="seccion2">
        <h2>¿Como funcionamos?</h2>
        <div class="secciondiv">
            <div class="columna1">
                <div class="grupo">
                    <h4>1. Elige</h4>
                    <p>
                        Selecciona el plato a tu gusto,
                        seguro que te gusta.
                    </p>
                </div>
                <div class="grupo">
                    <h4>2. Pide</h4>
                    <p>
                        Selecciona el metodo de pago,
                        espera a que llegue
                    </p>
                </div>
            </div>
            <div class="columna2">
                <div class="grupo">
                    <h4>3. Recibe</h4>
                    <p>
                        Recibiras los pedidos 
                        los Lunes y Jueves
                    </p>
                </div>
                <div class="grupo">
                    <h4>4. Calienta</h4>
                    <p>
                        3 minutos al microondas
                        y listo para comer
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="seccion3">
        <h2>Lo más popular</h2>
        <div class="secciondiv">
            <div class="plato">
                <div class="arriba uno"></div>
                <div class="abajo">
                    <h4>Pasta carbonara</h4>
                    <p>
                        350g de pasta a la carbonara
                    </p>
                    <div class="nutrientes">
                        <div class="nut"><p>550kcal</p></div>
                        <div class="nut"><p>35 p</p></div>
                        <div class="nut"><p>6,7 hc</p></div>
                        <div class="nut"><p>12 s</p></div>
                    </div>
                </div>
            </div>
            <div class="plato">
                <div class="arriba dos"></div>
                <div class="abajo">
                    <h4>Arroz con pollo</h4>
                    <p>
                        350g de arroz blanco
                        con tiras de pollo
                    </p>
                    <div class="nutrientes">
                        <div class="nut"><p>450kcal</p></div>
                        <div class="nut"><p>55 p</p></div>
                        <div class="nut"><p>10,9 hc</p></div>
                        <div class="nut"><p>8 s</p></div>
                    </div>
                </div>
            </div>
            <div class="plato">
                <div class="arriba tres"></div>
                <div class="abajo">
                    <h4>Pechugas de pollo</h4>
                    <p>
                        400g de filetes de pollo 
                    </p>
                    <div class="nutrientes">
                        <div class="nut"><p>200kcal</p></div>
                        <div class="nut"><p>27 p</p></div>
                        <div class="nut"><p>11,4 hc</p></div>
                        <div class="nut"><p>9 s</p></div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="footerdiv">
            <div class="grupo">
                <h4>Descarga la app</h4>
                <ul>
                    <li><a href="#"><span class="material-symbols-outlined">ios</span>App Store</a></li>
                    <li><a href="#"><span class="material-symbols-outlined">android</span>Play Store</a></li>
                </ul>
            </div>
            <div class="grupo">
                <h4>Opiniones y reseña</h4>
                <ul>
                    <li><a href="#"><span class="material-symbols-outlined">mark_as_unread</span>Enviar opinion</a></li>
                </ul>
            </div>
            <div class="grupo">
                <h4>Siguenos</h4>
                <ul>
                    <li><a href="#"><span class="material-symbols-outlined">raven</span>Twitter</a></li>
                    <li><a href="#"><span class="material-symbols-outlined">nest_heat_link_gen_3</span>Instagram</a></li>
                    <li><a href="#"><span class="material-symbols-outlined">youtube_activity</span>YouTube</a></li>
                </ul>
            </div>
        </div>
    </footer>
    
</body>
</html>