<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>Registro Usuario</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/registroUsuario.css') }}">
    </head>
    <body>
        <header><a class="material-symbols-outlined" href="/api/login">arrow_back</a></header>

        <div class="caja">

            <h2>Bienvenido a EATTHIS!!</h2>
            <p>Complete las siguietes casillas con sus datos personales</p>

            <form action="/api/registro" method="POST">

                <p class="titulo">
                    <label for="nombre">Nombre</label>
                    <input class="input" type="text" name="nombre" id="nombre" required>
                </p>
                
                <p class="titulo">
                    <label for="dni">DNI o NIE</label>
                    <input class="input" type="text" name="dni" id="dni" required>
                </p>
                
                <p class="titulo">
                    <label for="email">Correo electrónico</label>
                    <input class="input" type="email" name="email" id="email" required>
                </p>
                
                <p class="titulo">
                    <label for="domicilio">Domicilio</label>
                    <input class="input" type="text" name="domicilio" id="domicilio" required>
                </p>
                
                <p class="titulo">
                    <label for="password">Contraseña</label>
                    <input class="input" type="password" name="password" id="password" required>
                </p>
                
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <div class="mensaje-error">
                            {% for message in messages %}
                                <p>{{ message }}</p>
                            {% endfor %}
                        </div>
                    {% else %}
                        <p>Revisa que todos los campos sean correctos</p>
                    {% endif %}
                {% endwith %}
            
                
                <p>
                    <input type="submit" class="btn btn-login" name="btn-login" value="Registrarse">
                </p>
                
                <div class="redes">
                    <span>Elige cualquier otro metodo de identificacion</span>
                    <button class="btn btn-google">Google</button>
                    <button class="btn btn-facebook">Facebook</button>
                    <button class="btn btn-twitter">Twitter</button>
                </div>
            </form>
        </div>
    </body>
</html>
